*,
*::before,
*::after {    
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #E4F1FF;
    font-size: 1.2rem;
}

body, html {
    overflow: hidden;
}

.circle-div {
    position: relative;
}

.circle-div > img {
    width: 120%;
    position: absolute;
    transform: translate(35%, -70%);
    z-index: -1;
}

#logo {
    width: 30%;
    margin-top: 2.5rem;
    margin-left: 2rem;
}

#menu {
    width: 7%;
    position: relative;
    float: right;
    margin-top: 3rem;
    margin-right: 2rem;
}

#close {
    position: absolute;
    top: 3rem;
    right: 2rem;
}

nav::before {
    content: "";
    width: 80%;
    border-top: 1px solid white;
    position: absolute;
    transform: translate(-50%, -7000%);
}

#nav-div {
    width: 80%;
    height: 100vh;
    background: black;
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    display: none;
}

nav ul {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    margin-top: 12rem;
    margin-right: 2.5rem;
}

nav ul li {
    list-style: none;
    padding-top: 1.8rem;
}

nav ul li a {
    text-decoration: none;
    color: #D8D9DA;
    font-weight: 500;
}

.first-demo-btn {
    width: 70%;
    background: #AE445A;
    border-radius: 1.5rem;
    border-style: none;
    padding: 1rem;
    margin: auto;
    color: #fff;
}

h1 {
    text-align: center;
    color: #363062;
    width: 95%;
    margin: auto;
    position: relative;
    /* top: 2rem; */
}





/* For Tablet */

@media(min-width: 768px) {
    #logo {
        width: 20%;
        margin-left: 2.5rem;
    }

    .circle-div > img {
        width: 120%;
        transform: translate(52%, -70%);
    }

    .first-demo-btn {
        margin-right: 2.5rem;
    }

    #nav-div {
        display: block;
        background: transparent;
        height: 0;
    }

    nav::before {
        display: none;
    }

    #menu, #close {
        display: none;
    }

    nav ul {
        margin-top: 3.2%;
        flex-direction: row;
        margin-left: 2.5rem;
    }

    nav ul li a {
        color: black;
        margin-right: 2.5rem;
    }

    nav ul li a:hover {
        font-weight: bold;
    }

    .first-demo-btn {
        width: 25%;
        position: relative;
        float: right;
        margin-top: -10%;
    }

    h1 {
        width: 80%;
        font-size: 3rem;
    }
    
}






/* For Desktop */

@media(min-width: 800px) {
    #logo {
        width: 10%;
        margin-left: 10%;
    }

    .circle-div > img {
        width: 50%;
        transform: translate(120%, -75%);
    }

    .first-demo-btn {
        width: 15%;
        margin-top: -5%;
        margin-right: 12%;
    }

    nav ul {
        margin-top: 1.75%;
    }

    nav ul li a {
        margin-right: 5rem;

    }

    h1 {
        width: 45%;
        margin-left: 16%;
        text-align: left;
    }
    
}

