h1 {
    margin-top: 5%;
}

.error-msg {
    color: red;
    margin-top: -5%;
    margin-bottom: 8%;
}

.form-section {
    margin-top: 25%;
}

.form-container, .icons-container {
    width: 90%;
    margin: auto;
}

form > input {
    background: none;
    border-bottom: 1px solid gray;
    border-radius: 0;
    width: 100%;
    margin-bottom: 10%;
}

#message {
    padding-top: 15%;
}

.check-para-div {
    display: flex;
    margin-top: 10%;
}

.checkbox-container {
    position: relative;
    width: 20%;
}

input[type="checkbox"] {
    accent-color: #9d3039;
    position: absolute;
    top: 0;
    right: 0.5rem;
    height: 25px;
}

.check-para-div p:nth-of-type(2) {
    margin-left: 5%;
    position: relative;
    bottom: 0.2rem;
    line-height: 1.3;
}

form button {
    border-radius: 3rem;
    padding: 1rem;
    width: 40%;
    background: transparent;
    font-weight: 600;
    font-size: 1.1rem;
    border-width: 15%;
    margin-bottom: 15%;
}

form button:hover {
    background: #192655;
    color: #fff;
}

h2 {
    text-align: center;
}

.icons-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10%;
}

.icon {
    padding-top: 15%;
    max-width: 80%;
    margin-left: 10%;
}



/* For Tablets */
@media(min-width: 768px) {
    .form-container {
        width: 70%;
        margin: auto;
    }

    input[type="checkbox"] {
        right: 2.7rem;
    }

    .check-para-div p:nth-of-type(2) {
        margin-left: -1.2rem;
    }

    form button {
        margin-top: 1%;
    }

    h2 {
        width: 80%;
        margin: auto;
    }

    .icons-div {
        grid-template-columns: repeat(3, 1fr);
        margin-left: 4%;
    }

    .icon {
        padding-top: 0;
        padding-bottom: 20%;
        
    }
}


/* For Desktop */
@media(min-width: 800px) {
    h1 {
        position: relative;
        right: 5%;
    }

    .form-section {
        display: flex;
        width: 75%;
        margin: auto;
        margin-top: 7%;
    }

    form > input {
        width: 90%;
        margin-bottom: 5%;
    }

    .error-msg {
        margin-top: 0;
        margin-bottom: 4%;
    }

    #message {
        padding-top: 10%;
    }

    input[type="checkbox"] {
        right: 3.8rem;
    }

    .check-para-div {
        margin-left: -1.8%;
    }

    h2 {
        width: 70%;
        text-align: left;
        margin-left: 7%;
    }

    .check-para-div p:nth-of-type(2) {
        margin-left: -10%;
        width: 70%;
    }

    .submit {
        margin-left: -2%;
    }
}