h1 {
    margin-top: 5%;
}

.form-section {
    margin-top: 25%;
}

.form-container, .icons-container {
    width: 90%;
    margin: auto;
}

form > input {
    background: none;
    border-bottom: 1px solid gray;
    border-radius: 0;
    width: 100%;
    margin-bottom: 10%;
}

form > textarea {
    display: block;
    margin-top: 5%;
    outline: none;
    background: none;
    border: none;
    border-bottom: 1px solid gray;
    width: 100%;
}

.check-para-div {
    display: flex;
    margin-top: 10%;
}

#checkbox {
    width: 100%;
}

.check-para-div p:nth-of-type(2) {
    margin-left: 10%;
    position: relative;
    bottom: 0.2rem;
    line-height: 1.3;
}

form button {
    border-radius: 3rem;
    padding: 1rem;
    width: 40%;
    background: transparent;
    font-weight: 600;
    font-size: 1.1rem;
    border-width: 15%;
    margin-bottom: 15%;
}

h2 {
    text-align: center;
}

.icons-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10%;
}

.icon {
    padding-top: 15%;
    max-width: 80%;
    margin-left: 10%;
}



/* For Tablets */
@media(min-width: 768px) {
    .form-container {
        width: 70%;
        margin: auto;
    }

    .check-para-div p:nth-of-type(2) {
        margin-left: 5%;
    }

    form button {
        margin-top: 1%;
    }

    h2 {
        width: 80%;
        margin: auto;
    }

    .icons-div {
        grid-template-columns: repeat(3, 1fr);
        margin-left: 4%;
    }

    .icon {
        padding-top: 0;
        padding-bottom: 20%;
        
    }

}


/* For Desktop */
@media(min-width: 800px) {

}